/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */


 .features {
  color: black;
 }

.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 45px;
  border-radius: 20em;
  line-height: 70px;
  background-color: #18AEED;
  color: white;
  font-size: 14px;
  border: 2px solid #3A7BD5;
}

@import url(https://fonts.googleapis.com/css?family=Questrial|Lato|Hammersmith+One|Carme);

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Questrial', sans-serif;
    color: #0979C4;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}

h3 {
    text-align: center;
    font-size: 22px;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

form .btn {
  width: 100%;
  line-height: 40px;
}

.btn1 {
  width: 100%;
  line-height: 40px;
  margin: 10px;
}

.fields {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.middle-block {
  margin-top: 100px;
  margin-bottom: 100px;
}

.bottom {
  background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* W3C */

  padding: 30px 0px 30px 0px;


  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -100px;
  left: 0;

  h2 {
    color: white;
    margin-bottom: 30px;
  }

  h3 {
    color: white;
  }

  h4 {
    text-align: center;
  }

  p {
    color: white;
  }
}

#wrapper {
  min-height: 100%;
  position: relative;
}

body, html {
  height: 100%
}

.bottom-bis {
  background: -webkit-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #00d2ff 10%, #3a7bd5 90%); /* W3C */

  padding: 30px 0px 30px 0px;

  bottom: 0px;

  h2 {
    color: white;
    margin-bottom: 30px;
  }

  h3 {
    color: white;
  }

  h4 {
    text-align: center;
  }

  p {
    color: white;
  }
}

.card-price {
  max-width: 500px;
  background: #1AABEC;
  padding: 20px;
  margin: 50Px auto;

  .price {
  display: flex;
  align-items: flex-end;
  text-align: justify;
  justify-content: center;
  }

  ul {
    display: flex;
    margin-top: 50px;
    color: white;
    opacity: .6;
  }
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-size: 20px;
}

.home-arrow-down {
  font-size: 2em;
  color: #0979C4;
}
