<div class="middle-block">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1>Historique</h1>
        <% if @subscriptions.count > 0 %>
          <table>
            <% @events.each do |event| %>
              <tr>
                <td><%= event[:date_type] %></td>
                <td><%= event[:value] %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <p>Vous n'avez pas encore souscrit à notre service </p>
          <%= link_to new_subscription_path do %>
          <button>Abonnez-vous</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="bottom">
  <div class="container">
    <div class="row">
        <p>Copyright 2015 Keyyys | Tous droits réservés</p>
    </div>
  </div>
</div>


