
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to 'Mon compte', new_subscription_path, class: "navbar-wagon-item navbar-wagon-button btn" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><font color="#2F9AE5">STOP AUX PROBLÈMES DE SERRURIER</font></h1>
      <h2><font color="#bfbfbf">Épargnez-vous des soucis en nous confiant le double de vos clés</font></h2>
    </div>
  </div>
</div>

