<div class="banner-top">
  <h1>STOP AUX PROBLÈMES DE SERRURIER</h1>
  <h2><font color="#bfbfbf">Épargnez-vous des soucis en nous confiant le double de vos clés</font></h2>
</div>


<div class="features bg-gradient padded text-center">
  <div class="container">
    <div class="row">
        <h2>STOP AUX PROBLÈMES DE SERRURIER</h2>

        <div class="col-md-4">
          HELLO
        </div>
        <div class="col-md-4">
          HELLO
        </div>
        <div class="col-md-4">
          HELLO
        </div>

      </div>
    </div>
  </div>
</div>

