.pages-home {
  .header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    background: none;
    box-shadow: none;

    svg path { fill: white }
    .header-menu a {
      color: white;
      opacity: 1;
    }

    .logo {
      svg path { fill: white }
    }

  }
}

.header {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);

  @media screen and (max-width: $screen-sm) {
    flex-flow: column;
    height: 100px;
    justify-content: center;
  }

  .logo {
    svg { width: 80px }
  }
}

.button-container {
  width: 100%;
  display: flex;

  .navbar-wagon-button { margin: auto }
}

.header-menu {
  display: flex;
  margin-left: auto;
  align-items: center;

  @media screen and (max-width: $screen-sm) {
    margin-left: 0;
  }

  a {
    color: black;
    opacity: .7;
    color: black;
    opacity: .7;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;


    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }

  hr {
    margin-top: 22px;
    margin-bottom: 22px;
    margin: 0 20px;
    background: black;
    width: 1px;
    opacity: .15;
    height: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
  }
}
