<div class="container">
  <div class="row">

    <h1> Récupération du trousseau </h1>

    <h2>L'équipe Keyyys va prendre contact avec vous et livrevra votre double de clé dans l'heure.</h2>

      <h1 href="/">
      <%= image_tag "fb.jpg" %>
      </h1>

    </ul>


  </div>
 </div>

