<div class="container">
  <div class="row">

    <h1> Récupération du trousseau </h1>
    <ul>

    <h3>Votre demande est bien prise en compte, un membre de l'équipe Keyyys va prendre contact avec vous et livrevra votre double de clé dans l'heure.</h1>

      <h1>On arrive</h1>

      <h1 href="/">
      <%= image_tag "hd-passepartout-4-d43bc" %>
      </h1>

    </ul>


  </div>
 </div>
