.avatar {
  width: 30px;
  border-radius: 50%;
}
.avatar-bordered {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-large {
  width: 50px;
}

.navbar-wagon {
  background-color: #FFFFFF;
}

.navbar-wagon-container {
  height: 100px;
}

.avatar {
  width: 50px;
  background-color: white;
}

body {
  background-color: #F7F9FA;
}

@import url(https://fonts.googleapis.com/css?family=Questrial|Lato);

h1 {
    text-align: center;
    font-size: 64px;
    font-family: 'Questrial', sans-serif;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
